:root {
  /** Site Color **/
  --mainColor: #576cbc;
  --secondColor: #0b2447;
  --borderColor: #dddddd;
  --menuColor: #eeeeee;
  --borderMenuColor: #19376d;
  /** Default Color **/
  --blackColor: #333;
  --blackColorHover: #111111;
  --blueColor: #2f80ed;
  --blueColorHover: #175db8;
  --greenColor: #31be94;
  --greenColorHover: #1ea57c;
  --grayColor: #f8f8f8;
  --grayColorHover: #f0f0f0;
  --ogranceColor: #f2994a;
  --ogranceColorHover: #db7d2b;
  --redColor: #ec2d41;
  --redColorHover: #ca192b;
  --whiteColor: #ffffff;
  --whiteColorHover: #f2f2f2;
  --yellowColor: #ffff00;
  --yellowColorHover: #d0d005;
  --transparent: transparent;
  --pinkColor: #dd37ec;
  --violetColor: #6726ba;
}
$numberPading: 5px;
$fontSize: 14px;
$position: right left center;
$pos: absolute relative unset fixed;
$color: blue green black ogrance yellow red violet pink white gray;
$display: block inline inline-block inline-flex none;
$boxShadow: 0 0 30px rgba(212, 161, 161, 0.25);

@mixin DevoTransition($duration) {
  transition: all $duration;
}
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
@mixin DevoButton($colorBackground, $colorText, $colorBorder) {
  @include DevoTransition(300ms);
  padding: 7px 15px;
  border-radius: 7px;
  font-size: $fontSize;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  color: $colorText;
  border: 1px solid $colorBorder;
  background: $colorBackground;
}
@mixin DevoInputInput($colorBackground, $colorText, $colorBorder) {
  @include DevoTransition(300ms);
  padding: 7px 15px;
  border-radius: 7px;
  font-size: $fontSize;
  width: 100%;
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: $colorText;
  border: 1px solid $colorBorder;
  background: $colorBackground;
}
